.btn-create {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: 100%;
  padding: 0.75rem 0;

  background-color: var(--yellow-500);
  border-radius: 0.5rem;
  border: 1px solid var(--yellow-500);
  font-size: 1.25rem;
  font-weight: 500;



  & img {
    display: none;
  }

  &:hover img {
    display: block;
  }

  &:hover {
    border: 1px solid var(--black);
  }

  &:disabled {
    color: var(--gray-500);
    background-color: var(--gray-400);
    border: none;
    cursor: not-allowed;
  }

  &:disabled img {
    display: none;
  }

  &:disabled:hover img {
    display: none;
  }
}

.btn-back {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--yellow-500);

  &:hover {
    text-decoration: underline;
  }
}

.btn-back-choose-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.75rem 0;

  font-size: 1.25rem;
  font-weight: 700;
  color: var(--yellow-500);

  &:hover {
    border-radius: 0.5rem;
    border: 1px solid var(--yellow-500);
  }
}